.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px;
  align-items: center;
  background-color: cadetblue;
}

.footer {
  margin-top: auto;
  padding: 12px 0;
  justify-self: flex-end;
  display: flex;
  gap: 4px;
  justify-content: center;
  background-color: cadetblue;
}